.wrapper {
    padding-left: 0;
}
#demo-form {
    padding: 25px;
    width: 35%;
    background-color: white;
    float: left;
}
#demo-form label {
    width: 25%;
}
.field-content {
    width: 75%;
}
#demo-form input[type='text'] {
    width: 300px;
}
ul.controls {
    list-style-type: none;
    float: left;
}
ul.controls li {
    margin-top: 25px;
}
#form-data {
    width: 40%;
    float: left;
    margin-left: 35px;
    height: 400px;
}
